{% extends "court/base.html" %}
{% block content %}
    <h1>Check Status</h1>
    
    <form  method="GET" action="" >
    <input  type="search" name="search"> 
    <button  type="submit"> Search </button>
    </form>

    <table class="table" align="center">
        <thead>
        <tr>
            <th> CNR</th>
            <!-- <th>Name</th>
            <th>City</th>
            <th>Pincode</th>
            <th>Contact</th>
            <th>Ambulance type</th>
            <th>Delete</th>
            <th>Edit</th> -->
        </tr>
        </thead>
        <tbody>
        {% for case in case_details %}
            <tr>
                <td>
                    {{ case.cnr }}
                </td>
                <!-- <td>
                    {{ambulance.name}}
                </td>
                <td>
                    {{ambulance.city}}
                </td>
                <td>
                    {{ambulance.pincode}}
                </td>
                <td>
                    {{ambulance.contact}}
                </td>
                <td>
                    {{ambulance.amb_type}}
                </td> -->
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}